@import "tailwindcss";

:root {
  --background: #1E1E1E;
  --foreground: #F1F1F1;
  --main-blue: #2D325B;
  --main-green: #068A86;
  --main-red: #F66D6D;
  --main-pink: #F9C5D1;
  --font-sans: var(--font-archivo-sans);
  --font-mono: var(--font-archivo-mono);
  --font-serif: var(--font-laomn);
  --font-pingfang: var(--font-pingfang);
  
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-main-blue: var(--main-blue);
  --color-main-green: var(--main-green);
  --color-main-red: var(--main-red);
  --color-main-pink: var(--main-pink);
  --font-sans: var(--font-archivo-sans);
  --font-mono: var(--font-archivo-mono);
  --font-serif: var(--font-laomn);
  --font-pingfang: var(--font-pingfang);
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* styles/embla.css */
.embla {
  position: relative;
  width: 100%;
  height: 100%;
}

.embla__viewport {
  overflow: hidden;
  width: 100%;
  height: 100%;
  border-radius: 0.75rem;
}

.embla__container {
  display: flex;
  height: 100%;
}

.embla__slide {
  flex: 0 0 25%; /* Show 4 cards at once */
  min-width: 0;
  max-width: 30rem;
  position: relative;
  padding-right: 2rem;
}

.embla__slide__inner {
  height: 100%;
  border-radius: 0.75rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Media query for responsive design */
@media (max-width: 1900px) {
  .embla__slide {
    flex: 0 0 80%; /* Show fewer cards on smaller screens */
  }
}

.embla__controls {
  margin-bottom: 1rem;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.embla__buttons {
  display: flex;
  gap: 0.1rem;
}

.embla__button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.embla__button:disabled {
  opacity: 0.3;
  cursor: default;
}

.embla__button__svg {
  width: 35%;
  height: 35%;
}

.embla__dots {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.embla__dot {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: black;
  opacity: 0.5;
  transition: opacity 0.2s ease;
  cursor: pointer;
  border: none;
  padding: 0;
}

.embla__dot--selected {
  opacity: 1;
}